* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

#root,
body {
  width: 100vw;
  height: 100vh;
}

body {
  font: 400 14px Roboto, sans-serif;
  background: #f5f5f5;
  -webkit-font-smoothing: antiliased;
}

input,
button,
textarea {
  font: 400 18px Roboto, sans-serif;
}

button {
  cursor: pointer;
}
